*{
    margin:0;
    padding:0;
    list-style:none;
}
.box{
    height:500px;
    width:900px;
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    border:1px solid #000;
    box-sizing:border-box;
}
.box .hd{
    height:80px;
    width:100%;
    border-bottom:1px solid #000;
    display:flex;
    justify-content:space-between;
  
}
.box .hd>li{
    height:80px;
    width:299px;
    text-align:center;
    /* float:left; */
    line-height:80px;
    color:#000;
    font-size:24px;
    font-weight:bold;
    border-right:1px solid #000;
    box-sizing:border-box;
}
.box .hd>li:last-child{
    border-right:none;
}
.box .content{
    height:417px;
    width:100%;
    background:pink;
}
.box .content>div{
    color:#000;
    font-size:20px;
    text-align:center;
    display:none;
}